*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color:#fff
}
.banner{
    background: linear-gradient(120deg, #181818 20%, hsla(0,0%, 9%, .98)10%, hsla(0,0%,9%,.97)15%,hsla(0,0%,9%,.95)20%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 800px;
}
.bannercontent .bannertitle img{
    object-fit: contain;
    max-width: 30%;
}