*{
    background-color: #222;
    color: #fff;
    margin: 0;      /*margin,padding,box-sizing compulsary*/
    padding: 0;
    box-sizing: border-box; 
} 
.name{
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 10px 10px rgb(229, 255, 0));
    color: yellow;
}
.banner{
    background-image: url("king the land.jpg"); 
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 448px;
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin:0% 2%;                   /*margin for images*/
    border-radius: 0.8%;                                /*padding for elements*/
}
h1{
    padding: 1rem 0rem 0rem 0.9rem;
    font-weight: 500;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    padding: 2% 0;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 34px;
    font-weight: 1000;
}