*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
body{
    background-color: #222;
    color: #fff;
}
nav{
    display: flex;
    padding: 0 10px ;
    justify-content: space-between;
}
nav .profile{
    display: flex;
    margin: 10px 20px;
}
nav .logo img{
    object-fit: contain;
    max-width: 10%;
}
nav .profile .joinnow{
    background-color: red;
    padding: 0px 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;
    margin: 0 5px;
}
nav .profile .joinnow:hover{
    background-color: #fff;
    color: #181818;
    transition:0.5ms ;
}
nav .profile .signin{
    background-color: transparent;
    color: #fff;
    padding: 0px 8px;
    border: 2px solid #a3a3a3;

}
nav .profile .signin:hover{
    background-color: #fff;
    color: #181818;
    transition:0.5ms ;
}

.banner{
    background:linear-gradient(90deg, #181818 0, hsla(0, 0%, 9%, .987) 1.62%, hsla(0, 0%, 9%, .951) 3.1%, hsla(0, 0%, 9%, .896) 4.5%, hsla(0, 0%, 9%, .825) 5.8%, hsla(0, 0%, 9%, .741) 7.06%, hsla(0, 0%, 9%, .648) 8.24%, hsla(0, 0%, 9%, .55) 9.42%, hsla(0, 0%, 9%, .45) 10.58%, hsla(0, 0%, 9%, .352) 11.76%, hsla(0, 0%, 9%, .259) 12.94%, hsla(0, 0%, 9%, .175) 14.2%, hsla(0, 0%, 9%, .104) 15.5%, hsla(0, 0%, 9%, .049) 16.9%, hsla(0, 0%, 9%, .013) 18.38%, hsla(0, 0%, 9%, 0) 20%),url("https://occ-0-3215-3662.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeqU5y13eHjQ6rfOYnpZUi3Rs_tf8KhstGfq_LmpqDzeR0UmZ_Op7pNso4OFiL97UO-hwXayjoAue7TL_Okys9Q280u7XZJpbOle.jpg?r=834&quot");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
}
.bannercontent .bannertitle img{
    object-fit: contain;
    max-width:50% ;
}
.bannercontent{
    padding: 15% 10%;
}
.bannercontent .bannertitle h1{
    font-size:30px ;
    padding: 30px 0px;
}
.bannercontent .bannertitle h3{
    color: #a3a3a3;
    font-size: 10px;
    font-weight: 400;
}
.bannercontent .bannertitle span{
    padding: 30px 5px;
}
.bannercontent .bannertitle .a1{
    padding: 5px 8px;
    border:2px solid #a3a3a3;
}
.bannercontent .bannertitle p{
    max-width: 30%;
}
.bannercontent .bannertitle .a2{
    color: #fff;
}
